<%- include('partials/header') %> 

<body>
    <%- include('partials/navbar') %> 

    <div class="center">
        <div class="jumbotron">
            <h1 class="display-4">One deed a day</h1>
            <p class="lead">By doing just one thing a day, you can improve the lives of people near you!</p>
            <hr class="my-4">
            <p>Create deeds for everyone to do, and do deeds to help those around you!</p>
            <a class="btn btn-lg btn-outline-dark" href="/register" role="button">Help now!</a>
        </div>
    </div>
    
    <%- include('partials/footer') %> 
</body>

</html>