<%- include('partials/header') -%> 

<body class="expandable-bg">
    <%- include('partials/navbar_loggedin') -%> 
        <div class="deeds">
            <div class="deed">
                <h2 class="deed-title">Title</h2>
                <p class="deed-description">Description</p>
                <a href="" class="deed-author">Author</a>
            </div>
</body>